<h1 style="text-align: center;">Thanks for your registration at Karma</h1>

<p>You’ve been registered at <a href="https://app.karma.red/" target="_blank">Karma</a> cross-border p2p-loans ecosystem.<br />Please, confirm your e-mail address.</p>

<strong><a href="#{Rails.application.secrets.base_url}/profile/#{@user.username}/#{@confirm_key}">Confirm</a></strong>
<br /><br />

<span style="color:#696969"><span style="font-size:11px"> – If it wasn’t you, please delete this e-mail<br /> – You do not need to reply to this e-mail</span></span><p>Your Karma-team</p>