<p>Hello,<p>
<br> 
<p>User #{@sender.username} left a comment to your query on Karma platform:
<br> 
= @comment
<br> 
<p>You could answer in his <a href="#{Rails.application.secrets.base_url}/profile/#{@sender.username}">profile</a><p>
<br>
<p>Your Team Karma</p>






