@import "active_admin/mixins";
@import "active_admin/base";

.cke_chrome {
  width: 79.8% !important;
  overflow: hidden;
}

@media (max-width: 575px) {
  .cke_chrome {
    width: 100% !important;
  }
}

.admin-ckeditor-block {
  background-color: white;
  width: 80%;
  margin: 0 auto;
  box-shadow: 0px 0px 1px 1px #888888;
  padding: 15px;
  img {
    width: 100%
  }
}

