doctype html
html
  head
    meta content=("text/html; charset=utf-8") http-equiv="Content-Type" 
  body
    #mailsub.notification align="center" 
      table border="0" cellpadding="0" cellspacing="0" style="min-width: 320px;" width="100%" 
        tr
          td align="center" bgcolor="#ffffff"
            table.table_width_100 border="0" cellpadding="0" cellspacing="0" style="max-width: 680px; min-width: 300px;" width="100%" 
              tr
                td
              tr
                td align="center" bgcolor="#ffffff" 
                  table border="0" cellpadding="0" cellspacing="0" width="90%" 
                    tr
                      td align="center" 
                        img alt="Karma" border="0" src="https://api.karma.red/logo.png" width="50px" 
                      td align="right" 
                    tr
                      td align="center" 
                        font color="#57697e" face="Arial, Helvetica, sans-serif" size="4" style="font-size: 15px;"
                        table border="0" cellpadding="0" cellspacing="0" width="90%" 
                          tr
                            td
                              = yield
                    tr
                      td align="center"
                        table border="0" cellpadding="0" cellspacing="0" width="90%"
                          tr
                            td align="center"
                              br
                              a href="https://medium.com/karmared"
                                img alt="Karma" border="0" src="https://api.karma.red/medium.png" width="24px"
                              | &nbsp;&nbsp;&nbsp;&nbsp;
                              a href="https://t.me/karmaprojecten"
                                img alt="Karma" border="0" src="https://api.karma.red/telegram.png" width="24px"
                              | &nbsp;&nbsp;&nbsp;&nbsp;
                              a href="https://twitter.com/KarmaBlockchain"
                                img alt="Karma" border="0" src="https://api.karma.red/twitter.png" width="24px"
                    tr
                      td.iage_footer align="center" bgcolor="#ffffff" 
                        table border="0" cellpadding="0" cellspacing="0" width="100%" 
                          tr
                            td align="center" style="padding:20px;flaot:left;width:100%; text-align:center;"
                              font color="#96a5b5" face="Arial, Helvetica, sans-serif" size="3" style="font-size: 13px;" 
                                span style="font-family: Arial, Helvetica, sans-serif; font-size: 13px; color: #96a5b5;" 
                                  | 2018 (с) Karma Trust. All Rights Reserved.
                    tr
                      td
